# Compiled python modules.
*.pyc

# Byte-compiled
__pycache__/
.cache/
.venv/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store
config/

# PyCharm
.idea

# Experiments
data/
outputs/
multirun/
